<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/public.css" />
    <title>C Memo</title>
  </head>
  <body>
    <h1><a href='/memos'>C Memo</a></h1>
    <%= yield %>
  </body>
</html>
