<form method="post" action="/memos">
  <div class="input-item">
    <label class="label">タイトル</label>
    <input class="input" type="text" name="title" required>
  </div>
  <div class="input-item">
    <label class="label">メモ</label>
    <textarea class="input" name="content"></textarea>
  </div>
  <div class="btn-area">
    <input type="submit" value="Save"><input type="reset" value="Cancel" onclick="location.href='memos'">
  </div>
</form>
