<form method="post" action="/memos">
  <div class="input-item">
    <label class="label">タイトル</label>
    <input class="input" type="text" name="title" required>
  </div>
  <div class="input-item">
    <label class="label">メモ</label>
    <textarea class="input" name="content"></textarea>
  </div>

  <div class="btn-area">
    <button type="submit">Save</button>
    <a class="btn" href='/memos'>Cancel</a>
  </div>
</form>
