<form method="post" action="">
  <input type="hidden" name="_method" value="delete">
    <% @memo.each do |m| %>
      <h2><%= h(m['title']) %></h2>
      <p><%= h(m['content']).gsub(/(\r\n|\r|\n)/, "<br>")  %></p>
    <% end %>

  <div class="btn-area">
    <a class="btn" href="/memos/<%= @id %>/edit">Edit</a>
    <button type="submit">Delete</button>
</form>
