body {
  background: #fff0f5;
  color: #696969;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}
