body {
  background: #7b7c7d;
  color: #dccb18;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

/* button, input, textarea {
  font-family : inherit;
  font-size   : 100%;
} */

a {
  text-decoration: none;
  color: #e6eae3;
}

h1 {
  text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
}
.input-item {
  overflow: hidden;
  margin-bottom: 30px;
}
.label {
  float: left;
  width: 90px;
}
.input {
  float: left;
  width: 260px;
}

input[type="text"]{
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

.btn-area {
  text-align: center;
}

button {
  background: #dccb18;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
}

.btn {
  background: #dccb18;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 8.25px 20px;
  margin: 0 5px;
}
